*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

.container {
  background-color: var(--light-gray);
  height: 100vh;
  position: relative;
}

.qr-code-card {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-code-card .qr-image {
  width: 100%;
  display: block;
  border-radius: 7px;
}

p.title {
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
  color: var(--dark-blue);
}
p.content {
  font-weight: 400;
  font-size: 15px;
  color: var(--grayish-blue);
  margin-bottom: 20px;
}
